%h1 Click on the following links to select a action:

%ul
  %li
    = link_to "Customize front end form", new_form_attribute_path
  %li
    = link_to "List of all the emails sent", recommendations_path
  %li
    = link_to "Customer Profiles", customers_path


