#recommendation-form {
	width: 98%;
	margin: auto; 	
}

#form-snippet {
	width: 50%;
	margin: auto;
}

h1 {
	font-size: 24px;
}

.center {
	text-align: center;
}

.alert {
	background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
  padding: 15px;
}

.customers, .recommendations {
	margin-top: 20px;
}